:root {
    --text-colour: #001A11;
    --background-colour: #B9D8CD;
    --primary-colour: #2F4172;
    --primary-colour-shadow: #65759E;
    --secondary-colour: #759D34;
    --secondary-colour-shadow: #B8D982;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: var(--text-colour);
    background: radial-gradient(var(--secondary-colour), var(--primary-colour));
    margin: 20px;
    padding-bottom: 100px;
    display: grid;
    justify-items: center;
}

h1 {
    font-size: 3rem;
}

.buttons {
    display: flex;
    justify-self: space-between;
}

button {
    appearance: none;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
}

.buttons button {
    margin: 0 20px;
    padding: 10px 30px;
    color: var(--text-colour);
    background-color: var(--background-colour);
    border: 2px solid var(--secondary-colour);
    box-shadow: 2px 2px 2px 2px var(--secondary-colour-shadow);
    border-radius: 20px;
}

.buttons button:hover {
    color: var(--background-colour);
    background-color: var(--text-colour);
    border: 2px solid var(--primary-colour);
    box-shadow: 2px 2px 2px 2px var(--primary-colour-shadow);
}

::backdrop {
    background-color: var(--secondary-colour-shadow);
    opacity: 0.75;
}

:modal {
    background-color: var(--background-colour);
    border-radius: 10px;
    border: 2px solid var(--primary-colour);
    box-shadow: 2px 2px 2px 2px var(--primary-colour-shadow);
}

form {
    display: flex;
    flex-direction: column;
}

input,
.btns button {
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    color: var(--text-colour);
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid var(--primary-colour);
    box-shadow: 2px 2px 2px 2px var(--primary-colour-shadow);
}

input:focus,
.btns button:hover {
    outline: none;
    border: 2px solid var(--secondary-colour);
    box-shadow: 2px 2px 2px 2px var(--secondary-colour-shadow);
}

#results {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-colour);
    text-shadow: 2px 2px var(--primary-colour-shadow);
}

#gameboard {
    width: 450px;
    height: 450px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    display: grid;
    gap: 5px;
}

#gameboard button {
    font-size: 4rem;
    color: var(--primary-colour);
    text-shadow: 2px 2px var(--primary-colour-shadow);
    background-color: var(--background-colour);
    border: 2px solid var(--secondary-colour);
    box-shadow: 2px 2px 2px 2px var(--secondary-colour-shadow);
}